<nav>
  <h2>Kabir Bose</h2>
  <div class="links-container">
    <a href="/">Home</a>
    <span>|</span>
    <a href="/about">About</a>
    <span>|</span>
    <a href="/projects">Projects</a>
    <span>|</span>
    <a href="/home">Contact</a>
  </div>
</nav>
