<div class="container">
  <div class="abt-container">
    <!-- Picture -->
    <img src="./images/kabir.jpg" alt="A picture of me!" class="intro-img" />

    <!-- Paragraph -->
    <p class="about-p">
      Hello there, my name is Kabir Bose. I am a student at Ontario Tech
      University studying IT and Network Security. I am currently in my second
      year. I love programming mostly with JavaScript and Python, sports like
      soccer and swimming, as well as playing video games! My favourite food is
      shawarma but tacos are a close second. I also love Batman and my favourite
      movie of all time is "Batman Begins".
    </p>
  </div>

  <!-- Video -->
  <video controls poster="../images/batman.jpg">
    <source src="../images/video.mp4" type="video/mp4" />
  </video>
</div>
