<div class="homepage">
  <h1 class="home-h">Welcome to Kabir's Portfolio!</h1>
  <p class="home-p">Use the navigation bar to view different pages.</p>
  <img
    class="batman-img"
    src="images/batman.png"
    alt="Pixelated batman running"
  />
</div>
