<div class="homepage">
  <h1 class="home-h">Welcome to Kabir's Portfolio!</h1>
  <p class="home-p">Use the navigation bar to view different pages.</p>
  <img class="mewtwo-img" src="images/mewtwo.png" alt="Pixelated mewtwo" />
</div>
