<div class="proj-container">
  <h1 class="proj-title">Projects</h1>
  <ul>
    <li>Python grade calculator</li>
    <li>NextJS Spotify clone</li>
    <li>ReactJS expense tracker</li>
    <li>Python BigO calculator</li>
    <li>NodeJS notebook</li>
    <li>Python housing stats</li>
    <li>NextJS weather website</li>
    <li>NextJS social media website</li>
    <li>Python encryption algorithm</li>
    <li>HTML CSS portfolio website</li>
  </ul>
</div>
